<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between"
      style="padding:30px;
          font-size: 1.5em;
          ">

  <div class="navbar-nav" >

    <a class="nav-item nav-link"
        matTooltip="View all product in your list" matTooltipPosition="below"
        routerLink="">All Products</a>
    <a class="nav-item nav-link"
        matTooltip="Add new product to your product list" matTooltipPosition="below"
        routerLink="/addProduct">Add New Product</a>
  </div>
    <img src="../../../assets/fdm_logo.png" alt="FDMLogo">
</nav>



